<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Nathaniel Johns</title>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<script src="/js/main.js"></script>
        <link rel="stylesheet" href="/prism/prism.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <script src="/prism/prism.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body>
		<header>
			<h1>
				<i class="fa-solid fa-school"></i>   Nathaniel Johns
			</h1>
		</header>
		<nav>
			<ul>
				<li><i class="fa-solid fa-house"></i><a href="/">Home</a></li>
				<li><i class="fa-solid fa-file"></i><a href="/blog">Blog</a></li>
				<li><i class="fa-solid fa-envelope"></i><a href="/contact">Contact</a></li>
	     	</ul>
		</nav>
		<div id="content">